<div class="footer_wrapper">
	<div class="container-fluid">
		<div class="row py-4 m-0 flex-wrap">
					<div class="col-lg-3 col-md-4 col-sm-6 col-12">
						<h4>CUSTOMER POLICIES</h4>
						<div class="flex_strt footer_items" >
                       <a title="Contact Us">Contact Us</a>
                       <a title="Contact Us">FAQ</a>
                       <a title="Contact Us">T&C</a>
                       <a title="Contact Us">Shipping</a>
                       <a title="Contact Us">Cancellation</a>
                       <a title="Contact Us">Track Orders</a>
                       <a title="Contact Us">Returns</a>
                       <a title="Contact Us">Privacy policy</a>



					</div>
						
				
			</div>


			<div class="col-lg-3 col-md-4 col-sm-6 col-12 ">
					<h4>ONLINE SHOPPING</h4>
					<!-- <a href="http://block-scan.com/" routerLinkActive="active" target="_blank">{{'BLOCK_EXPLORER' | translate}}</a> -->
					<!-- <a href="javascript:void(0)" routerLinkActive="active" (click)="openAdvertiseModal()">{{'ADVERTISE' | translate}}</a> -->
					<!-- <a href="javascript:void(0)" *ngIf="useFullLinks" href="/{{apiServices.gb_lang}}/{{useFullLinks.professional_api_url}}" routerLinkActive="active" >{{'WEB_PROFESSIONAL_API' | translate}}</a> -->
					<!-- <a href="javascript:void(0)" *ngIf="useFullLinks" href="/{{apiServices.gb_lang}}/{{useFullLinks.public_api_url}}" routerLinkActive="active">{{'WEB_PUBLIC_API' | translate}}</a> -->
					<div class="flex_strt footer_items" >
							<a href="javascript:void(0)">Women</a>
							<a href="javascript:void(0)">Home & Living</a>
					<a href="javascript:void(0)">Beauty</a>
					<a href="javascript:void(0)" >Gift Cards</a>
					<a href="javascript:void(0)" >MYRA Insider</a>
					
				
					
				</div>
					
			</div>
 
			<!-- <div class="col-lg-3 col-md-3 col-sm-6  sample" >
				<h5>Socials</h5>

				<a href="{{i.website_url}}" *ngFor="let i of social_website"  rel="noreferrer" target="_blank">{{i.website_name}}</a>

			</div> -->


			<div class="col-lg-3 col-md-4 col-sm-6 col-12 ">
				<h4>USEFUL LINKS</h4>
				<div class="flex_strt footer_items">
				<a href="javascript:void(0)" title="About Us">Blog</a>
							<a href="javascript:void(0)">Careers</a>
							<a href="javascript:void(0)" >Site Map</a>
							<a href="javascript:void(0)">Corporate Information</a>
			</div>
			</div>

				<div class="col-lg-3 col-md-4 col-sm-6 col-12 ">
				<h4>EXPERIENCE MYRA APP ON MOBILE</h4>
				<div class="flex_strt footer_items">
				<h4>KEEP IN TOUCH</h4>
				<div class="keep_sec">
							<a href="javascript:void(0)"><i class="fa fa-twitter" aria-hidden="true"></i></a>
							<a href="javascript:void(0)" >
								<i class="fa fa-facebook-square" aria-hidden="true"></i></a>
							<a href="javascript:void(0)"><i class="fa fa-instagram" aria-hidden="true"></i></a>
					<a href="javascript:void(0)"><i class="fa fa-youtube-play" aria-hidden="true"></i></a>
				</div>
			</div>
			</div>

				

			
			
		</div>
	</div>

	
</div>








