.container-fluid {
    max-width: 1400px;
}
.flex_strt {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.keep_sec{
    a{
        font-size: 20px !important;
    margin-right: 20px;
    }
}
.footer_wrapper{
    // background-color: #eee;border-top:1px solid #eee;
    .logo{width:239px;img{height: 100%;}}
    h4{font-size: 13px;}
    }
.footer_items{
        margin:22px 0px 20px;
        flex-direction: column;
    align-items: flex-start;
    span,a{    color: rgb(88, 102, 126);text-decoration: none;padding:6px 0px;font-size: 13px;font-weight:500;&:hover{color: var(--button-color) !important ;text-decoration: none;cursor: pointer;}}}
.all{
    background-color: var(--footer-background-color);
    p{margin: 0;font-size: 14px;color: var(--header-grey-text-color);}
    a{color: var(--text-color-main);text-decoration: none;font-weight: bold;
        &:hover{span{color:var(--button-color); }}
    }
    img{width: 120px;height:40px;}
}
.active {border-radius: 5px;color: var(--button-color)!important; }

.flex_ctr{
    word-break: break-all;
}

@media (max-width:575px){
    .logo{width: 50%!important}
}

@media(max-width:420px){
    .all{p{font-size: 13px;}}
}
@media(max-width: 320px){
    .all{
        img {
    width: 100px;
    height: 36px;
}
    } 
}