


//colours

// $pink:#fff4f4;
// $red:#F94328;
// $black:#000;
// $black2:#00000080;
// $black3:#000000d7;
// $white:#fff;
// $darkGrey:#3f444c;
// $borderColor:#dee2e6;
// $lightgrey:#f3f3f3;
// $lightborderColor:#f6f7f9;

$pinkShadow: 0px 0px 5px 1px var(--theme-pink);
$Shadow: 0px 0px 5px 1px var(--theme-lightgrey);
$greyShadow: 0 1px 4px var(--theme-borderColor), 0 1px 4px var(--theme-borderColor) ;
$boxShadow:#808a9d1f(228 231 235) 0px 1px 0px;