<div class="row pb-4 m-0 flex-wrap">
					<div class="col-lg-6 col-md-4 col-sm-6 col-12 column1 pt-4 pb-4">
                         <img class="image" src="assets/2.png" alt="logo" title="Go to homepage" >
<div class="container-fluid">
    <div class="left-sec py-4">
						<h4>WOMEN</h4>
</div>
						</div>
						</div>
						<div class="col-lg-6 col-md-4 col-sm-6 col-12 column2 pt-4 pb-4">
                               <div class="left-sec right-sec">
						<h4>FASHION</h4>
                    </div>
						</div>
					</div>
               <div class="container-fluid">
                    <div class="row pb-4 m-0 flex-wrap">
                    <div class="col-lg-6 col-md-4 col-sm-6 col-12">
                  <div class="offer_sec">
                        <h1 class="text-center"><span class="pink">50% OFF</span><br> <span>on</span><br>  <span>WEDDING</span> <br> <span>COLLECTION</span></h1>
                  </div>
                        </div>
                        <div class="col-lg-6 col-md-4 col-sm-6 col-12">
                               <div>
                          <img class="image2" src="assets/1.png" alt="logo" title="Go to homepage" >
                    </div>
                        </div>
                    </div>
                  
                </div>
                <div class="brands pt-2 pb-4">
                 <div class="container-fluid">
                      <div class="brand_sec flex_ctr">
                        <div>
                            <h4>BRANDS YOU CAN'T MISS</h4>
                        </div>
                         <div>
                           <img class="image3" src="assets/6.png" alt="logo" title="Go to homepage" >
                           <img class="image3" src="assets/4.png" alt="logo" title="Go to homepage" >
                           <img class="image3" src="assets/16.png" alt="logo" title="Go to homepage" >
                           <img class="image3" src="assets/10.png" alt="logo" title="Go to homepage" >
                            <img class="image3" src="assets/15.png" alt="logo" title="Go to homepage" >
                             <img class="image3" src="assets/12.png" alt="logo" title="Go to homepage" >
                             <img class="image3" src="assets/14.png" alt="logo" title="Go to homepage" >
                        </div>
                    </div>
                 </div>
             </div>