<div class="header">
<div class="container-fluid">
<nav class="navbar navbar-expand-lg navbar-light">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarTogglerDemo01" style="justify-content: space-between;">
     <a href="javascript:void(0)">
         <img src="assets/logo.png" alt="logo" title="Go to homepage" width="200" height="60" style="width:110px;">
       </a>
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="nav-item active">
        <a class="nav-link" href="#">HOME</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">CATEGORIES</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">TRENDING</a>
      </li>
    </ul>
    <div class="flex_strt">
      <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2 search_input" type="search" placeholder="Search for products, brands and more" aria-label="Search">
    </form>
    <div class="sign_up">LOGIN/SIGNUP</div>
  </div>
  </div>
</nav>

</div>
</div>